* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    padding: 0 1rem;
}

header {
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

header h1 {
    color: #37FDE8;
    margin-bottom: 1rem;
}

header p {
    padding: 1rem;
    color: gray;
}

.main-container {
    width: 100%;
    padding: 1rem;
    background-color: #16796f;
    border-radius: 0.7rem;
    margin-bottom: 3rem;
}

.main-container .title-general {
    text-align: center;
    margin-bottom: 2rem;
}

.form-general {
    width: 100%;
}

.form-general span {
    display: inline-block;
    margin-bottom: 1rem;
}

.form-general input{
     width: 100%;
     border: none;
     padding: 0.5rem;
     background-color: white;
     border-radius: 0.7rem;
     margin-bottom: 2rem;
}

.form-general .button-calculadora {
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title-porcentajes {
    color: #37FDE8;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.info-porcentajes {
    color: gray;
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

#resultadoP, #resultadoC, #resultadoCu, #resultadoTI, #resultadoT, #resultado, #ingresoPromedio, #RPromedio {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}



@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
    }
}